html															{ overflow-x:hidden; height:100%; overflow:-moz-scrollbars-vertical; overflow-y:scroll; }
body					 										{ height:100%; padding:0px; margin:0px; font:normal 14px Ubuntu; border:none; background-color:#666; }
a																	{ color:#c00; text-decoration:none; }

#bg-site													{ position:fixed; top:0px; left:0px; width:100%; z-index:-1; }
#tupperware												{ z-index:1000; width:100%; height:100%; }
	#tupper-header-front						{ position:absolute; top:51px; width:100%; height:81px; background:url(../img/bg_front-bar.png); }
		#home-social-media						{ position:absolute; right:50px; top:-35px; }
			#home-social-media img			{ border:none; }
		#home-logo										{ position:relative; float:right; height:81px; width:194px; background:url(../img/logo_front.png); margin-right:50px; }
		#home-main-menu								{ position:absolute; right:35px; top:90px; }
			#home-main-menu li					{ background:url(../img/divider_front.png) no-repeat right top; float:left; height:30px; list-style-type:none; margin-right:8px; max-height:26px; padding:4px 8px 0 0; }
			#home-main-menu li.last			{ background:none; }
			#home-main-menu a 					{ font:normal 16px Quicksand; color:#fff; text-decoration:none; text-transform:uppercase; }
			#home-main-menu a:hover 		{ text-decoration:underline; }
	
	#tupper-header									{ position:absolute; top:9px; left:0px; width:100%; height:28px; background:url(../img/bg_inner-bar.png); z-index:1000; }
		#inner-logo 									{ float:right; height:24px; width:238px; margin:2px 8px 0 0; background:url(../img/logo_inner.png); }
		#inner-user-info							{ position:absolute; right:9px; top:38px; color:#fff; text-shadow:1px 1px 5px #000; z-index:1010; }
			#inner-user-info a					{ color:#fff; }
			#inner-user-info a:hover		{ color:#c00; }
		#inner-main-menu							{ position:relative; float:right; right:25px; top:2px; margin:0px; z-index:100; }
			#inner-main-menu li					{ position:relative; background:url(../img/divider_inner.png) no-repeat right center; float:left; max-height:20px; list-style-type:none; list-style-image:none; padding:2px 8px 4px 8px; text-transform:uppercase; }
			#inner-main-menu li.last		{ background:none; }
			#inner-main-menu li a 			{ font:normal 14px Quicksand; text-decoration:none; color:#000; }

			#inner-main-menu li ul			{ display:none; font:normal 14px Quicksand; position:absolute; top:25px; left:0px; margin:0px; padding:4px 0 8px 0; background:url(../img/bg_white_transparent.png); border:solid 1px #404041; border-top:none; }
			#inner-main-menu li ul a:hover { color:#c00; }
			#inner-main-menu li ul li		{ position:relative; background:none; width:140px; padding:0 10px; text-transform:none; list-style-type:none; list-style-image:none; }
			#inner-main-menu li:hover ul	{ display:block; }
			#inner-main-menu li:hover ul li:hover { color:#c00; cursor:pointer; }

			#inner-main-menu li:hover ul li ul	{ display:none; position:absolute; top:0px; left:160px; padding:2px 0 2px 0; border:solid 1px #404041; border-left:none; }
			#inner-main-menu li:hover ul li ul li { position:relative; background:none; padding:0 10px; text-transform:none; list-style-type:none; list-style-image:none; color:#000; }
			#inner-main-menu li:hover ul li:hover ul { display:block; }

	#tupper-content									{ position:relative; left:15px; width:500px; max-width:484px; padding:0 8px 20px 8px; background:url(../img/bg_white_transparent.png); border-left:solid 1px #404041; border-bottom:solid 1px #404041; border-right:solid 1px #404041; z-index:900; }
	#tupper-content.front						{ display:none; }
	#tupper-content.login						{ top:131px; }
	#tupper-content.admin						{ top:36px; z-index:1000; }
	#tupper-content.content					{ top:36px; }
	#tupper-content.blog						{ top:36px; }
	#tupper-content.gallery					{ position:relative; top:37px; left:0px; width:100%; max-width:100%; height:100%; background:none; border:none; padding:0px; }
	#tupper-content.help						{ width:700px; max-width:684px; }

.page-title												{ font:300 40px Quicksand; color:#c00; margin-bottom:20px; text-transform:lowercase; }

.list-row													{ margin-bottom:10px; }

.section-header										{ font:normal 18px Quicksand; }
.bold															{ font-weight:bold; }
.red															{ color:#c00; }
.white														{ color:#fff; }
.highlight												{ text-shadow:1px 1px 5px #000; }
.err														  { background:url(../img/icon_alert.png) no-repeat top left; padding-left:20px; color:#a00; margin-bottom:4px; text-shadow:1px 1px 7px #000; }
.pl-8															{ padding-left:8px; }
.mt-8 														{ margin-top:8px; }
.mt-20 														{ margin-top:20px; }
.loading													{ position:relative; width:80px; height:12px; background:url(../img/preloader.gif); margin:0 auto; border:solid 1px #404041; }
.fr 															{ float:right; }
.h-30															{ height:30px; }
.jr 															{ text-align:right; }
.jc																{ text-align:center; }
.smaller													{ font-size:12px; }
.cke_skin_kama										{ border:solid 1px #404041 !important; border-radius:4px !important; padding:0px !important; }
.help-link 												{ cursor:pointer; }
.clear														{ clear:both; }

.tab-row													{ position:relative; }
	.tab-row .tab										{ float:left; padding:0 6px 2px 6px; cursor:pointer; border:solid 1px transparent; border-bottom:none; }
	.tab-row .tab.active						{ background:#666; color:#fff; border:solid 1px #404041; border-bottom:none; float:left; border-top-left-radius:4px; border-top-right-radius:4px; }
	.tab-content										{ clear:both; border:solid 1px #404041; padding:8px; border-radius:4px; border-top-left-radius:0px; margin-bottom:8px;  }

.highlight-row										{ border:solid 1px transparent; }
.highlight-row:hover							{ border-radius:4px; border:solid 1px #404041; box-shadow:0 0 7px #000; }

/*****[ jQuery UI ]************************************************************/
.ui-widget-overlay								{ position:absolute; top:0px; left:0px; background:#000; opacity: 0.5 }
.ui-dialog												{ position:absolute; border-radius:4px; border:solid 1px #404041; background:url(../img/bg_white_transparent.png); padding:4px; }
	.ui-dialog-titlebar							{ font:400 18px Quicksand; }
	.ui-dialog-content							{ margin:4px 16px 20px 16px; }
  .ui-dialog-buttonset button			{ border-radius:4px; border:solid 1px #404041; background:#666; color:#fff; padding:2px 7px; cursor:pointer; margin-right:8px; }
  .ui-dialog-buttonset button:hover
																	{ box-shadow:0 0 7px #000; }

/*****[ Forms ]****************************************************************/
.form-row													{ margin-bottom:8px; }
  .form-input input, .form-input textarea, .form-input select
																	{ border-radius:4px; border:solid 1px #404041; padding:1px 3px; background:#fff; font:normal 14px Ubuntu; }
  .form-input input:focus, .form-input textarea:focus, .form-input select:focus
																	{ box-shadow:0 0 7px #000; outline:none; }
  .form-input button							{ border-radius:4px; border:solid 1px #404041; background:#666; color:#fff; padding:2px 7px; cursor:pointer; }
  .form-input button:hover				{ box-shadow:0 0 7px #000; }

/*****[ Login ]****************************************************************/

/*****[ Admin ]****************************************************************/
.admin-dashboard									{ position:relative; overflow:auto; }
	.admin-dashboard-left						{ width:45%; }
	.admin-dashboard-right					{ position:absolute; top:0px; left:50%; }
.admin-section-header							{ font-size:18px; font-weight:bold; margin-top:8px; }
.admin-section-header.first				{ margin-top:0px; }
.admin-top_links									{ text-align:center; margin-bottom:8px;  }

/*****[ Galleries ]************************************************************/
.gallery-category									{ position:relative; margin-top:8px; }
.gallery-category.first						{ margin-top:0px; }
.gallery-row											{ position:relative; margin-left:12px; border:solid 1px transparent; }
#tupper-admin-galleries-manage .gallery-row:hover								{ border:solid 1px #404041; border-radius:4px; box-shadow:0 0 7px #000; }
	.gallery-row .gallery-name, .gallery-description
																	{ padding-left:8px; }
	.gallery-row .gallery-links			{ position:absolute; top:0px; right:8px; }
	.gallery-row .gallery-links img	{ cursor:pointer; }

.gallery-preview-row							{ position:relative; border:solid 1px #404041; border-radius:4px; padding:8px; margin-bottom:8px; }
	.gallery-preview-row img				{ border-radius:4px; border:solid 1px #404041; }
	.gallery-preview-row .details		{ position:absolute; top:8px; right:8px; display:block; width:130px; }
		.gallery-preview-row .details img
																	{ cursor:pointer; border:none; }
.gallery-preview-row:hover				{ box-shadow:0 0 7px #000; }
	.gallery-preview-row:hover .details
																	{ position:absolute; top:8px; right:8px; display:block; width:130px;}

#gallery-shade										{ position:absolute; top:0px; left:0px; width:100%; height:100%; background:#000; display:none; z-index:0; }
#gallery-name											{ position:absolute; top:-22px; left:8px; font:normal 14px Quicksand; text-transform:uppercase; z-index:1001; }
#gallery-thumbnails								{ position:relative; top:-1px; left:0px; float:left; height:100%; background:url(../img/bg_white_transparent.png); border-left:solid 1px #404041; border-right:solid 1px #404041; overflow-x:hidden; overflow-y:auto; z-index:9; }
	#gallery-thumbnails img					{ clear:both; border-bottom:solid 1px #404041; cursor:pointer; }
#gallery-control									{ position:absolute; top:0px; left: 180px; font:normal 14px Quicksand; text-transform:uppercase; background:url(../img/bg_white_transparent.png); padding:2px 8px; cursor:pointer; z-index:1001; border:solid 1px #404041; border-top:none; }
#gallery-control.on								{ box-shadow:0 0 7px #000; }
#gallery-loader										{ position:absolute; top:20%; height:50px; left:0px; width:100%; z-index:3000; text-align:center; color:#fff; display:none; }
	#gallery-loader .animation			{ position:relative; width:80px; height:12px; background:url(../img/preloader.gif); margin:0 auto; border:solid 1px #404041; }

#form_g_category, #form_g_name, #form_g_allowed_users
																	{ width:230px; }
#form_g_description								{ width:457px; height:65px; }
#button_add_user								{ position:relative; top:-4px; left:5px; }

/*****[ About ]***************************************************************/
.about-quote											{ font:normal 24px Zeyada; line-height:19px; margin-bottom:0px; }

/*****[ Content ] ************************************************************/
#form_c_title											{ width:475px; }
#form_c_body											{ width:475px; height:300px; }
#form_c_path											{ width:230px; }

.content-row			    { position: relative; }
  .content-name			    { padding-left:4px; }
  .content-actions		    { position:absolute; top:0px; right:4px; }
  .content-actions img		    { float:left; margin-right:2px; cursor:pointer; }

/*****[ Blogs ] **************************************************************/
#form_b_title											{ width:475px; }
#form_b_body											{ width:475px; height:300px; }
#form_b_path											{ width:230px; }

.blog-row 												{ margin-bottom:20px; }
	.blog-row .title 									{ font-weight:bold; font-size:16px; }

/*****[ Links ]***************************************************************/
#tupper-admin-links-manage .content-row
																	{ margin-left:12px; }

/*****[ Backgrounds ]*********************************************************/
.admin-background-thumbnail img		{ border-radius:4px; border:solid 1px #404041; margin-top:4px; }
.admin-background-details					{ position:absolute; top:25px; right:8px; display:block; width:130px; }
.admin-background-details img			{ cursor:pointer; border:none; }

/*****[ Contact ]*************************************************************/
#form_name, #form_email						{ width:230px; }
#form_howHeard, #form_details				{ width:475px; max-width:475px; min-width:475px; height:45px; max-height:45px; min-height:45px; }